class UserContainer {
  created() {
    this.state.loading = true;
    fetchUser(this.props.id).then(user => { /* ... */ });
  }

  render() {
    return (
      <div>
        {this.state.loading &&
          <Loading />
        }

        {this.state.user &&
          <ViewUeser user={this.state.user} />
        }

        {this.state.error &&
          <Error message={this.state.error.message} />
        }
      </div>
    );
  }
}

UserContainer.PROPS = {
  id: Config.number().required()
};

UserContainer.STATE = {
  loading: Config.bool.value(false),
  user: Config.object().value(null),
  error: Config.object().value(null)
};
